
div {
    width: 100%;
    font-family: Georgia, 'Times New Roman', serif;
    background-color: lightgreen;
    border-radius: 5px;
    padding: 5px;
    
}
header {
    text-align: center;
    background-color: lightblue;
}
form.salary-form {
    border: 5px;
    padding: 5px;
}
table, td, tr {
    align-content: center;
    border-collapse: collapse;
    border: 2px solid;
    padding: 2px;
}
table {
    padding: 12px;    
    width: 75%;
    background-color: white;
}
